{% extends "layout.njk" %}

{% block blockContent %}

    <section class="section-sm pb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="page-not-found-title">404</h1>
                        <p class="mb-4">U là trời. Trang này không tồn tại.</p>
                        <a href="/" class="btn btn-primary">Quay về trang chủ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}