<section class="page-header section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-title h2 mb-3">
                    <span>
                        <!-- title -->
                    </span>
                </h1>
                <span>
                    <!-- description -->
                </span>
            </div>
        </div>
</section>

<div class="container">
    <div class="row gy-5 gx-4 g-xl-5">
        <!-- rows -->
    </div>
</div>