<!DOCTYPE HTML>
<html lang="vi">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ description }}"/>
        <meta name="keywords" content="{{ siteKeywords }}"/>
        <meta name="author" content="Help-14"/>
        <link rel="shortcut icon" href="/images/favicon.ico">

        <!-- CSS Plugins -->
        <link rel="preconnect" href="https://fonts.googleapis.com/">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600&amp;display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/plugins/tabler-icons/tabler-icons.min.css">

        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="/assets/css/style.css">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-64HGCN0E6J"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-64HGCN0E6J');
        </script>
    </head>

    <body>
        <div class="header-height-fix"></div>
        <header class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-lg navbar-light p-0">
                            <a class="navbar-brand font-weight-bold mb-0" href="/" title="Nhan.PT Blog">
                                <b>Nhan.PT</b>
                            </a>

                            <button class="search-toggle d-inline-block d-lg-none ms-auto me-1 me-sm-3" data-toggle="search" aria-label="Search Toggle">
                                <span>Search</span>
                                <svg width="22" height="22" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
                            </button>

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHeader" aria-controls="navHeader" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="ti ti-menu-2 d-inline"></i>
                                <i class="ti ti-x d-none"></i>
                            </button>

                            <div class="collapse navbar-collapse" id="navHeader">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/">Trang chủ</a>
                                    </li>
                                    {% for category in categories %}
                                        <li class="nav-item @@{{category}}">
                                            <a class="nav-link" href="/{{category}}">{{category | capitalize }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <div class="navbar-right d-none d-lg-inline-block">
                                    <ul class="social-links list-unstyled list-inline">
                                        <li class="list-inline-item ms-4 d-none d-lg-inline-block">
                                            <button class="search-toggle" data-toggle="search" aria-label="Search Toggle">
                                                <span>Tìm kiếm</span>
                                                <svg width="22" height="22" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 15.5L19 19" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/><path d="M5 11C5 14.3137 7.68629 17 11 17C12.6597 17 14.1621 16.3261 15.2483 15.237C16.3308 14.1517 17 12.654 17 11C17 7.68629 14.3137 5 11 5C7.68629 5 5 7.68629 5 11Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="search-block">
            <div data-toggle="search-close">
                <span class="ti ti-x text-primary"></span>
            </div>

            <input type="text" id="js-search-input" placeholder="Nhập vào từ khóa cần tìm.." aria-label="search-query">

            <div class="mt-4 card-meta">
                <p class="h4 mb-3">Tìm theo phân loại</p>
                <ul class="card-meta-tag list-inline">
                    {% for category in categories %}
                        <li class="list-inline-item me-1 mb-2">
                            <a class="small" href="/{{category}}">{{category | capitalize }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% block blockContent %}{% endblock %}

        <!-- start of footer -->
        <footer>
            <div class="container">
                <div class="section">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-6 col-lg-8 col-md-10"></div>
                    </div>
                </div>
                <div class="pb-5">
                    <div class="row g-2 g-lg-4 align-items-center">
                        <div class="col-lg-6 text-center text-lg-start">
                            <p class="mb-0 copyright-text content">&copy;2022 @ Nhan.PT</p>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end">
                            <ul class="list-inline footer-menu">
                                <li class="list-inline-item m-0">
                                    <a href="https://nhan.pt">Home Page</a>
                                </li>
                                <li class="list-inline-item m-0">
                                    <a href="https://help-14.com">Help-14</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end of footer -->

        <!-- JS Plugins -->
        <script src="/plugins/jquery/jquery.min.js"></script>
        <script src="/plugins/bootstrap/bootstrap.min.js"></script>
        <script src="/plugins/lightense/lightense.min.js"></script>

        <!-- Main Script -->
        <script src="/assets/js/script.js"></script>
    </body>

</html>