<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MechKey.Org - All about keyboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DIY mechanical keyboard and where to find them" />
    <meta name="keywords"
        content="mechanical,keyboard,opensource,community,mechkey,mk,switch,keycap,stem,qmk,tmk,via,firmware,plate" />
    <meta name="author" content="Help-14" />
    <link rel="shortcut icon" href="/assets/images/favicon.png">

    <!-- CSS Plugins -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600&amp;display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/tabler-icons/tabler-icons.min.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="header-height-fix"></div>
    <header class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <a class="navbar-brand font-weight-bold mb-0" href="/" title="Nhan.PT Blog">
                            <b>MechKey.Org</b>
                        </a>

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navHeader" aria-controls="navHeader" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <i class="ti ti-menu-2 d-inline"></i>
                            <i class="ti ti-x d-none"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navHeader">
                            <!-- Large navbar -->
                            <!-- <ul class="navbar-nav mx-auto d-sm-none d-md-block d-lg-none">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/normal-keyboards.html">Normal</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/ergonomics-keyboards.html">Ergonomics</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/ortholinear-keyboards.html">Ortholinear</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/numpad-macropad.html">Numpad/Macropad</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/others-keyboards.html">Others</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/controller.html">Controller</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/case.html">Case</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/plate.html">Plate</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/keycaps.html">Keycaps</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/others-keyboards.html">Others</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/firmware.html">Firmware</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="dropdown-item" href="/tools.html">Tools</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/tutorials.html">Tutorials</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="https://www.buymeacoffee.com/help14"
                                        title="Keep the domain running">Donate</a>
                                </li>
                            </ul> -->

                            <!-- Phone navbar -->
                            <ul class="navbar-nav mx-auto d-none d-md-block">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn text-primary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Layouts
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/normal-keyboards.html">Normal</a>
                                            <a class="dropdown-item" href="/ergonomics-keyboards.html">Ergonomics</a>
                                            <a class="dropdown-item" href="/ortholinear-keyboards.html">Ortholinear</a>
                                            <a class="dropdown-item" href="/numpad-macropad.html">Numpad/Macropad</a>
                                            <a class="dropdown-item" href="/others-keyboards.html">Others</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn text-primary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Parts
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/controller.html">Controller</a>
                                            <a class="dropdown-item" href="/case.html">Case</a>
                                            <a class="dropdown-item" href="/plate.html">Plate</a>
                                            <a class="dropdown-item" href="/keycaps.html">Keycaps</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown">
                                        <button class="btn text-primary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Softwares
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/firmware.html">Firmware</a>
                                            <a class="dropdown-item" href="/tools.html">Tools</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/tutorials.html">Tutorials</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="https://www.buymeacoffee.com/help14"
                                        title="Keep the domain running">Donate</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Content -->

    <!-- start of footer -->
    <footer>
        <div class="container">
            <div class="section">
                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-6 col-lg-8 col-md-10"></div>
                </div>
            </div>
            <div class="pb-5">
                <div class="row g-2 g-lg-4 align-items-center">
                    <div class="col-lg-6 text-center text-lg-start">
                        <p class="mb-0 copyright-text content">&copy;2023 @ MechKey.Org
                        </p>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end">
                        <ul class="list-inline footer-menu">
                            <li class="list-inline-item m-0">
                                <a href="https://mechkey.org">Home Page</a>
                            </li>
                            <li class="list-inline-item m-0">
                                <a href="https://www.reddit.com/r/MechanicalKeyboards/">Reddit</a>
                            </li>
                            <li class="list-inline-item m-0">
                                <a href="https://github.com/help-14/mechanical-keyboard">Github</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pt-5 pb-5 d-block d-sm-none"></div>
        </div>
    </footer>
    <!-- end of footer -->

    <div id="bottom-fixed" class="container-fluid">
        <nav class="navbar navbar-dark bg-dark fixed-bottom" style="min-height: 100px;">
            <!-- Bottom Ads -->
        </nav>
    </div>

    <!-- JS Plugins -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/plugins/lightense/lightense.min.js"></script>

    <!-- Main Script -->
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/mechkey.js"></script>
</body>

</html>